body {
  font-family: Georgia;
  font-size: 16px;
  line-height: 30px;
  color: #2C2D33;
}

p {
  margin-bottom: 30px;
}

h1, h2, h3, .header {
  font-family: 'Lato', 'Helvetica Neue', Arial;
}

h1 {
  font-size: 30px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 2px;
  margin: 0 0 30px;
}

h4 {
  font-weight: bold;
}

label {
  font-weight: normal;
}

.App {
  margin-bottom: 150px;
}

.header {
  padding: 15px 0;
  margin-bottom: 50px;
  letter-spacing: 2px;
  overflow: hidden;
}

.logo {
  font-size: 18px;
  line-height: 50px;
  text-transform: uppercase;
}

a {
  color: #2196F3;
}

a.logo {
  color: #2C2D33;
}

a.logo:hover {
  text-decoration: none;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.navbar-nav > li > a {
  color: #2C2D33;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;
}

.story-container {
  background-size:     2048px 1367px; 
  background-repeat:   no-repeat;
  background-position: center center;  
  margin: -50px 0 85px;
  height: 800px;
  width: 100%;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

p.subtitle {
  margin-top: -20px;
}

p.time {
  margin-bottom: 10px;
}

p.location {
  font-weight: 900;
  text-decoration: underline;
}

#when .title {
  margin-bottom: 70px;
}

.nav-pills > li > a.greyed-out {
  color: LightGray;
}

div.location {
  height: 160px;
}

.location-info {
  align-items: center;
  justify-content: center;
}

.ceremony {
  margin-top: 40px;
  margin-bottom: 40px;
}

.ceremony-tip {
  margin-top: 12px;
}

.marriott {
  margin-top: 20px;
  margin-bottom: 20px;
}

.accommodation-ceremony {
  margin-top: 20px;
}

.activity-section {
  padding: 0 0 40px;
  margin: 0 0 60px;
  border-bottom: 1px solid #efefef;
}

.activity-section > p {
  margin-bottom: 16px;
}

span.activity-name {
  text-decoration: underline;
}

p.activity-tag {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
}