.App {
  text-align: center;
}

.App-header {
  background-color: white;
  height: 80px;
  padding: 20px;
  color: black;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.nav-pills > li > a {
  color: black;
  font-size: 12px;
}

.story-container {
  background-size:     cover; 
  background-repeat:   no-repeat;
  background-position: center center;  
  height: 1000px;
  width: 100%;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: 'Overpass';font-size: 14px;
}

.logo {
  font-size: 16px;
  margin-top: 6px;
}

a.logo {
  color: black;
}

a.logo:hover {
  text-decoration: none;
}

p.time {
  margin-bottom: 10px;
}

p.location {
  font-weight: 900;
  text-decoration: underline;
}

.nav-pills > li > a.greyed-out {
  color: LightGray;
}

div.location {
  height: 160px;
}

.location-info {
  align-items: center;
  justify-content: center;
}

.ceremony {
  margin-top: 40px;
  margin-bottom: 40px;
}

.ceremony-tip {
  margin-top: 12px;
}

.accommodations {
  max-width: 800px;
}

.marriott {
  margin-top: 20px;
  margin-bottom: 20px;
}

.accommodation-ceremony {
  margin-top: 20px;
}

.activity-section {
  margin-top: 30px;
}

.activity-section > p {
  margin-bottom: 16px;
}

span.activity-name {
  font-weight: 700;
  text-decoration: underline;
}

p.activity-tag {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
}